<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>It's A Sign</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/materialize.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/easing/EasePack.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TimelineMax.min.js"></script>
        <style>
          canvas {
            padding: 0;
            margin: 0;
          }
          .collapsible-header {
            padding: 0;
          }
          .collapsible-header span.handle i {
            margin-right: 0;
          }
          .collapsible-body {
            padding: 0.5rem;
          }
          .collapsible-body.active {
            display: block;
          }
          .handle {
            color: #bbb;
          }
          .controls {
            position: relative;
          }
          #toast-container {
            top: 5%;
            right: 5%;
            left: auto;
          }
          .toast {
            border-radius: 5px;
            border: 2px solid #000;
          }
        </style>
    </head>
    <body>

    <div class="navbar-fixed">
      <nav class="light-blue">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="margin-left: 10px;">It's A Sign</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="about">About Signs</a></li>
              <li><a href="store">Ready Made Signs</a></li>
              <li><a href="print">Print My Sign</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
          </div>
      </nav>
    </div>

    <div class="row" style="margin-bottom: 0 !important; padding-bottom: 0;">
        <div class="col s5" id="placelist" ref="placelist">

          <ul style="margin-top: 15px;">

            <draggable :list="places" :options="{handle:'.handle'}" @change="onChange" class="dragArea">
              <placeedit v-for="(place, index) in places" v-bind:place="place" v-bind:index="index" :key="place.place"></placeedit>
            </draggable>

            <li id="newplaceform" class="" v-bind:class="{ active: placeform }">
              <div class="collapsible-header" v-on:click="activateform" v-bind:class="{ active: placeform }"><i class="material-icons">location_on</i>Add a new place</div>
              <div class="collapsible-body" v-bind:class="{ active: placeform }" style="overflow: auto;">
                <form id="addplace">
                  <div class="form-group">
                    <label for="placename">Place</label>
                    <input type="text" class="form-control" v-model="place" placeholder="Eg Sunderland, UK">
                  </div>
                  <div class="form-group">
                    <label for="title">Title (Optional)</label>
                    <input type="text" class="form-control" v-model="title" placeholder="Eg Allison's House'">
                  </div>
                  <button type="button" id="addnewplace" v-on:click="encode" class="btn right waves-effect waves-light">Add Place</button>
                </form>
              </div>
            </li>
          </ul>

          <div>
            <button type="button" v-on:click="newsign" class="btn orange waves-effect waves-light col s3">New Sign</button>
            <button type="button" v-on:click="save" class="btn red waves-effect waves-light col s9">Save</button>
          </div>

          <p class="col s12">Sign Controls</p>
          <div>
            <button type="button" v-on:click="back" class="btn blue waves-effect waves-light col s3">Back</button>
            <button type="button" v-on:click="stop" class="btn red waves-effect waves-light col s3">Stop</button>
            <button type="button" v-on:click="forward" class="btn green waves-effect waves-light col s6">Forward</button>
          </div>

        </div>
        <div class="col s7 no-padding">
           <div style="min-height: 600px; padding: 0;" id="wrapper"></div>
        </div>
    </div>
    <footer class="page-footer">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">It's A Sign</h5>
            <p class="grey-text text-lighten-4">Ready made and custom 3D printed signs.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">More</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">International Orders</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">How it works</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">FAQs</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Sign Store</a></li>
            </ul>
          </div>
        </div>
      <div class="footer-copyright" style="padding-left: 10px;">
        Made by Onion2k
      </div>
    </footer>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.min.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/Sortable.min.js"></script>
        <script src="js/vuedraggable.js"></script>
        <script src="dist/signpost.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script>

          var socket = io.connect('http://localhost:8081');

          Vue.component('placeedit', {
            props: ['place', 'index'],
            data: function(){
              return { 'instancePlace': this.place.place, 'instanceTitle': this.place.title };
            },
            template: '<li class="place" v-bind:class="{ active: place.active }">\
              <div class="collapsible-header" v-on:click="activate(place)" v-bind:class="{ active: place.active }">\
              <i class="material-icons">label</i>{{ instanceTitle || instancePlace }}\
              <span class="handle secondary-content"><i class="material-icons">reorder</i></span>\
              </div>\
              <div class="collapsible-body" v-bind:class="{ active: place.active }" style="overflow: auto;">\
                <form id="editplace">\
                  <div class="form-group">\
                    <label for="placename">Place</label>\
                    <input type="text" placeholder="A place or an address" v-bind:value="instancePlace" @input="instancePlace = $event.target.value">\
                  </div>\
                  <div class="form-group">\
                    <label for="title">Title (Optional)</label>\
                    <input type="text" placeholder="Eg Allison\'s house" v-bind:value="instanceTitle" @input="instanceTitle = $event.target.value">\
                  </div>\
                  <button type="button" v-on:click="remove(place, index)" class="btn red waves-effect waves-light">Delete</button>\
                  <button type="button" v-on:click="edit(place, index)" class="btn right waves-effect waves-light">Update Place</button>\
                </form>\
              </div>\
            </li>',
            methods: {
              edit: function (place, index) {
                place.place = this.instancePlace;
                place.title = this.instanceTitle;
                app.editArm(place, index);
              },
              remove: function (place,index) {
                app.deleteArm(place, index);
              },
              activate: function(place){
                app.deactivate();
                place.active = !place.active;
              }
            }
          })

          var app = new Vue({
            el: '#placelist',
            data: {
              place: '',
              title: '',
              places: [],
              placeform: true
            },
            created: function(){
              socket.emit('load', {});
            },
            methods: {
              back: function(){
                signpostRotator.reverse();
              },
              stop: function(){
                signpostRotator.pause();
              },
              forward: function(){
                signpostRotator.play();
              },
              print: function(){

              },
              newsign: function(){
                this.places = [];
              },
              save: function(){
                socket.emit('save', JSON.stringify(this.places));
              },
              load: function(data){
                this.places = data;
                //TODO: This isn't necessary if the API returns pre-geocoded arms
                for (p in this.places) {
                  var place = this.places[p];
                  socket.emit('geocode', { place: place.place, title: place.title, index: p, id: place.id });
                }
              },
              encode: function (event) {
                socket.emit('geocode', { place: this.place, title: this.title });
              },
              addArm: function(title, place, bearing, distance, id){
                this.places.push({ title: title, place: place, bearing: bearing, distance: distance, active: false, index: this.places.length, id: id });
                return this.places.length-1;
              },
              editArm: function(place, index){
                signpost.disarm(place.id).then(()=>{
                  //TODO: Remove dependence on place.index ... find id in the array instead
                  this.places[index].title = place.title;
                  this.places[index].place = place.place;
                  socket.emit('geocode', { place: place.place, title: place.title, index: place.index, id: place.id, active: true });
                });
              },
              deleteArm: function(place, index){
                signpost.disarm(place.id);
                this.$delete(this.places, index);
                this.places.map((p)=>{
                  if (p.index > index) {
                    //TODO: Remove dependence on place.index
                    p.index--;
                    signpost.move(p.id, +1);
                  }
                })
                this.activateform();
              },
              moveArm: function(bearing, distance, index) {
                //TODO: Remove dependence on place.index ... find id in the array instead
                this.places[index].bearing = bearing;
                this.places[index].distance = distance;
                return index;
              },
              onChange: function(e){
                if (e.moved) {
                  if (e.moved.newIndex > e.moved.oldIndex) {
                    signpost.move(this.places[e.moved.newIndex].id, -1 * (e.moved.newIndex - e.moved.oldIndex));
                    for (var x = e.moved.oldIndex; x < e.moved.newIndex; x++) {
                      signpost.move(this.places[x].id, +1, x*0.25);
                    }
                  } else {
                    signpost.move(this.places[e.moved.newIndex].id, -1 * (e.moved.newIndex - e.moved.oldIndex));
                    var maxTime = e.moved.oldIndex - (e.moved.newIndex+1);
                    for (var x = e.moved.newIndex+1; x <= e.moved.oldIndex; x++) {
                      signpost.move(this.places[x].id, -1, (maxTime-x)*0.25);
                    }
                  }

                }
              },
              activateform: function(place){
                this.deactivate();
                this.placeform = true;
              },
              deactivate: function() {
                this.places.map((place)=>place.active = false);
                this.placeform = false;
              }
            }
          });

          socket.on('geocode', function (data) {
            var index, id;
            if (data[0].index === -1) {
              id = generateUUID();
              index = app.addArm(data[0].title, data[0].placename, data[0].bearing, data[0].distance, id);
            } else {
              id = data[0].id;
              index = app.moveArm(data[0].bearing, data[0].distance, data[0].index);
            }
            signpost.arm(data[0].title || data[0].placename, data[0].bearing, data[0].distance, index, id);
          });

          socket.on('save', function (data) {
            Materialize.toast('Sign saved', 2500, 'toast');
          });

          socket.on('load', function (data) {
            app.load(data);
          });

          socket.on('print', function (data) {
            //app.print(data);
          });


          function generateUUID () {
              var d = new Date().getTime();
              if (typeof performance !== 'undefined' && typeof performance.now === 'function'){
                  d += performance.now();
              }
              return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                  var r = (d + Math.random() * 16) % 16 | 0;
                  d = Math.floor(d / 16);
                  return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
              });
          }

        </script>

    </body>
</html>
