<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>It's A Sign</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/materialize.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
          canvas {
            padding: 0;
            margin: 0;
          }
          .collapsible-body.active {
            display: block;
          }
        </style>
    </head>
    <body>

    <div class="navbar-fixed">
      <nav class="light-blue">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="margin-left: 10px;">It's A Sign</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="sass.html">About</a></li>
              <li><a href="badges.html">Buy A Sign</a></li>
              <li><a href="sass.html">Custom Signs</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
          </div>
      </nav>
    </div>

    <div class="row" style="margin-bottom: 0 !important; padding-bottom: 0;">
        <div class="col s4">

          <ul id="placelist" ref="placelist" style="margin-top: 15px;">

            <placeedit v-for="place in places" v-bind:place="place" :key="place.place"></placeedit>

            <li id="newplaceform" class="" v-bind:class="{ active: placeform }">
              <div class="collapsible-header" v-on:click="activateform" v-bind:class="{ active: placeform }"><i class="material-icons">location_on</i>Add a new place</div>
              <div class="collapsible-body" v-bind:class="{ active: placeform }" style="overflow: auto;">
                <form id="addplace">
                  <div class="form-group">
                    <label for="placename">Place</label>
                    <input type="text" class="form-control" v-model="place" placeholder="Eg Sunderland, UK">
                  </div>
                  <div class="form-group">
                    <label for="title">Title (Optional)</label>
                    <input type="text" class="form-control" v-model="title" placeholder="Eg Allison's House'">
                  </div>
                  <button type="button" id="addnewplace" v-on:click="addPlace" class="btn right">Add Place</button>
                </form>
              </div>
            </li>

          </ul>

        </div>
        <div class="col s8 no-padding">
           <div style="min-height: 600px; padding: 0;" id="wrapper"></div>
        </div>
    </div>
    <footer class="page-footer">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      <div class="footer-copyright" style="padding-left: 10px;">
        Made by Onion2k
      </div>
    </footer>




        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/vue.js"></script>
        <script src="dist/signpost.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script>

          var socket = io.connect('http://localhost:8081');

          Vue.component('placeedit', {
            props: ['place'],
            data: function(){
              return { 'instancePlace': this.place.place, 'instanceTitle': this.place.title };
            },
            template: '<li v-bind:class="{ active: place.active }">\
              <div class="collapsible-header" v-on:click="activate(place)" v-bind:class="{ active: place.active }"><i class="material-icons">label</i>{{ instanceTitle || instancePlace }}<span class="secondary-content">Click to edit</span></div>\
              <div class="collapsible-body" v-bind:class="{ active: place.active }" style="overflow: auto;">\
                <form id="editplace">\
                  <div class="form-group">\
                    <label for="placename">Place</label>\
                    <input type="text" placeholder="A place or an address" v-bind:value="instancePlace" @input="instancePlace = $event.target.value">\
                  </div>\
                  <div class="form-group">\
                    <label for="title">Title (Optional)</label>\
                    <input type="text" placeholder="Eg Allison\'s house" v-bind:value="instanceTitle" @input="instanceTitle = $event.target.value">\
                  </div>\
                  <button type="button" v-on:click="editplace(place)" class="btn right">Update Place</button>\
                </form>\
              </div>\
            </li>',
            methods: {
              editplace: function (place) {
                place.place = this.instancePlace;
                place.title = this.instanceTitle;
                app.editArm(place);
              },
              activate: function(place){
                app.deactivate();
                place.active = !place.active;
              }
            }
          })

          var app = new Vue({
            el: '#placelist',
            data: {
              place: '',
              title: '',
              places: [],
              placeform: true
            },
            methods: {
              addPlace: function (event) {
                socket.emit('geocode', { place: this.place, title: this.title });
              },
              addArm: function(title, place, bearing, distance){
                this.places.push({ title: title, place: place, bearing: bearing, distance: distance, active: false, index: this.places.length+1 });
                return this.places.length;
              },
              editArm: function(place){
                this.places[place.index-1].title = place.title;
                this.places[place.index-1].place = place.place;
                signpost.disarm(place.index-1);
                signpost.arm(place.title || place.place, place.bearing, place.distance, place.index);
              },
              activateform: function(place){
                this.deactivate();
                this.placeform = true;
              },
              deactivate: function() {
                for (place in this.places) {
                  this.places[place].active = false;
                }
                this.placeform = false;
              }
            }
          });

          socket.on('geocode', function (data) {
            var index = app.addArm(data[0].title, data[0].placename, data[0].bearing, data[0].distance);
            signpost.arm(data[0].title || data[0].placename, data[0].bearing, data[0].distance, index);
          });

        </script>

    </body>
</html>
